* {
    padding: 0;
    margin: 0;
}

/*------------------------------------*\
            GRID LAYOUT
\*------------------------------------*/

header {
    grid-area: header;
    background-image: url('http://localhost:8080/img/Header.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 600px;
    text-align: center;
}

header:before {
    position: absolute;
    height: 560px;
    top: 40px;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    background: rgb(157, 196, 255);
    opacity: 0.5;
    z-index: 0;
}

nav {
    grid-area: menu; 
}
main { 
    grid-area: main;
    padding: 20px 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 60px;
    text-align: center;
}

footer { 
    grid-area: footer;
    text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'footer footer footer footer footer footer';
  background-color: rgb(255, 255, 255);
  padding: 0;
  object-fit: cover;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-container > div {
  text-align: center;
  font-size: 30px;
}

/*------------------------------------*\
            END GRID LAYOUT
\*------------------------------------*/

/*------------------------------------*\
            HEADER
\*------------------------------------*/

.lang{
    background-color: #424242;
    height: 40px;
}

.logo {
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    top: 10%;
    left: 6%;
}

.logoTitle {
    
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    z-index:1;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    background-color: #ffffff;
    padding: 20px;
    border: 3px solid #000;
    border-radius: 3px;
}

.logo--link {
    width: 30px;
    height: 30px;
}

/*------------------------------------*\
            END HEADER
\*------------------------------------*/

/*------------------------------------*\
            MENU
\*------------------------------------*/

.topnav {
    overflow: hidden;
    background-color: #1daa68;
    display: flex;
    justify-content: space-around; 
  }
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

.footer {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/*------------------------------------*\
            END MENU
\*------------------------------------*/

/*------------------------------------*\
            BTNS
\*------------------------------------*/

.btn{
    font-weight: normal;
    font-size: 18px;
    padding: 10px 30px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn--dark{
    background-color: #000;
    border: 1px solid #e8e8e8;
    color:#fff;
}

.btn--dark:hover {
    border-color: #000;
}

.btn--lang {
    background-color: #a0c9ff;
    border: 1px solid #a0c9ff;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    float: right;
    margin: 6px 10px;
}

/*------------------------------------*\
            END BTNS
\*------------------------------------*/

/*------------------------------------*\
            CONTACT
\*------------------------------------*/

.contact {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
}

.contact--title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 3px;
}

.cotact--body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact--form {
    width: 650px;
    margin-top: 40px;
}

.form--title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #96c5eb;
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 3px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgb(46, 46, 46);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    float: right;
}

input[type=submit]:hover {
    background-color: #4b4b4b;
}

.contact--map {
    width: 650px;
    margin-top: 40px;
}

.map--title{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #96c5eb;
    color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 3px;
}

#map {
    height: 460px;
    width: 100%;
    border:1px #979797 solid;
    border-radius: 2px;
}

/*------------------------------------*\
            RND CONTACT
\*------------------------------------*/

/*------------------------------------*\
            SPANS
\*------------------------------------*/

.spanValidate {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-size: 16px;
    float: left;
}

.spanSuccess {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 182, 79);
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
}

.spanError {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 6, 6);
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
}

/*------------------------------------*\
            END SPANS
\*------------------------------------*/

/*------------------------------------*\
            TARIFAS
\*------------------------------------*/

.tarifas {
    margin: 0;
    padding: 0;
    background-image: url('http://localhost:8080/img/tarifas.jpg');
    background-repeat: no-repeat;
    background-size: 2200px 700px;
}

.tarifas--title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c7bb15;
    padding: 40px;
    border-radius: 3px;
}

.tarifa--father {
    margin: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}   

.tarifa--child {
    box-shadow: 5px 10px #8b8b8b;
    width: 380px;
    margin: 10px;
    padding: 0;
    background-color: #ffffff;
}

.tarifa--titlo {
    background-color: #535353;
    padding: 30px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.tarifa--logo {
    width: 60px;
    height: 60px;
}

.tarifa--precio {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22a648;
    padding: 30px;
    height: 50px;
}

.tarifa--subtarifas {
    height: 410px;
    background-color: #ffffffee;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.tarifa--subtarifa {
    border: 0.5px solid #c7c7c7;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.tarifa--btns {
    background-color: #ff9113;
    width: 380px;
    display: flex;
    justify-content: center;
}

.tarifa--btn {
    background-color: #ffffff;
    border: 1px solid #000000;
    font-size: 18px;
    cursor: pointer;
    outline: none;
    padding: 20px;
    width: 190px;
}

/*------------------------------------*\
            END TARIFAS
\*------------------------------------*/

/*------------------------------------*\
            NOSOTROS
\*------------------------------------*/

.nosotros--title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 3px;
}

.nosotros--father {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nosotros--child {
    width: 500px;
    margin: 40px;
}

/*------------------------------------*\
            END NOSOTROS
\*------------------------------------*/

/*------------------------------------*\
            DATOS EMPRESA VIEW
\*------------------------------------*/

.datosEmpresa--title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 3px;
}

.datosEmpresa--father {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.datosEmpresa--child {
    width: 500px;
    margin: 40px;
}

/*------------------------------------*\
            END DATOS EMRPESA VIEW
\*------------------------------------*/

/*------------------------------------*\
            HOME
\*------------------------------------*/

.home--title {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eeeeee;
    padding: 40px;
    border-radius: 3px;
}

.home--textos {
    margin: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.home--texto {
    width: 500px;
    margin: 40px;
}

/*------------------------------------*\
            END HOME
\*------------------------------------*/

/*------------------------------------*\
            RESPONSIVE
\*------------------------------------*/

    /*------------------------------------*\
            MENU
    \*------------------------------------*/

    @media screen and (max-width: 900px) {
        .topnav {
            overflow: hidden;
            background-color: #1daa68;
            display: block;
        }

        .topnav a:not(:first-child) {
            display: none;
        }

        .topnav a.icon {
            float: right;
            display: block;
        }

        .topnav.responsive {position: relative;}
        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
    }

    /*------------------------------------*\
            END MENU
    \*------------------------------------*/

/*------------------------------------*\
            END RESPONSIVE
\*------------------------------------*/

/*------------------------------------*\
            SLIDER
\*------------------------------------*/
.slider {
    margin: auto;
    margin-bottom: 80px; 
    padding: 0;
    width: 70%;
    height: 500px;
    position: relative;
    background-color: #000000;

}

.slider--img {
    width: 100%;
    height: 500px;
    background-size: cover;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.play {
    cursor: pointer;
    position: absolute;
    top: 86%;
    left: 49.2%;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: rgb(136, 136, 136);
}

.stop {
    cursor: pointer;
    position: absolute;
    top: 86%;
    left: 49.2%;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    display: inline-block;
    transition: background-color 0.6s ease;
    color: rgb(136, 136, 136);
}

.active, .dot:hover {
    background-color: #717171;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.prev {
    left: 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.slider--text {
    position: absolute;
    color: #000;
    top: 120px;
    left: 12%;
    right: 12%;
    float: left;
}

/*------------------------------------*\
            END SLIDER
\*------------------------------------*/
/*------------------------------------*\
            FOOTER
\*------------------------------------*/

.footer--clear {
    background-color: #888888;
    height: 60px;
}

.footer--clear--left {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 30px;
}

.footer--clear--left a{
    text-decoration: none;
}

.footer--clear--right {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 94%;
}

.twitter--btn {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.facebook--btn {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

.footer--dark {
    padding: 20px;
    background-color: #424242;
}

.publi {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/*------------------------------------*\
            END FOOTER
\*------------------------------------*/

/*------------------------------------*\
            CATALOGO
\*------------------------------------*/

.catalogo--cabecera {
    display: flex;
    justify-content: center;
    background-color: rgb(209, 219, 70);
    padding: 40px;
    margin: 40px;
    border-radius: 2px;
}

.catalogo--cabecera--img {
    width: 300px;
    height: 300px;
}

.catalogo--cabecera h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.catalogo--categorias--title {
    font-family: Arial, Helvetica, sans-serif;
}

.catalogo--father {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.catalogo--child {
    margin: 30px;
}

.catalogo--img {
    width: 250px;
    height: 250px;
}

.catalogo--titlo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.catalogo--desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.catalogo--filter--type {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.catalogo--smartphone {
    margin: 20px;
    cursor: pointer;
}

.catalogo--smartphone img {
    width: 40px;
    height: 40px;
}

.catalogo--smartphone a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.catalogo--filter {
    display: flex;
    justify-content: center;
}

.filter--marca p,
.filter--pulgadas p,
.filter--ram p,
.filter--procesador p,
.filter--camara p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}

.filter--marca select,
.filter--pulgadas select,
.filter--ram select ,
.filter--procesador select,
.filter--camara select {
    width: 120px;
    height: 40px;
    margin: 10px; 
}

.noResults {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    color: rgb(66, 66, 66);
}

.filter--filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter--filtrosActivated {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
    margin: 20px;
    padding: 5px;
    border: 1px solid rgb(153, 153, 153);
    max-height: 20px;
}

.filter--filtrosActivated--img {
    width: 20x;
    height: 20px;
}

/*------------------------------------*\
            END CATALOGO
\*------------------------------------*/